@import url('https://fonts.googleapis.com/css?family=Open+Sans:400:700:800');

$color-background: #a7edf4;
$color-text-primary: #313332;
$color-text-secondary: #00adc9;


* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.row::before, .row::after {
	content:"";
	display: table;
}

.row:after {
	clear: both;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	background-color: $color-background;
	font-size: 16px;
}

main p {
	font-size: 1em;
}

h1 {
	margin: 0;
	padding: 40px 0;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	color: $color-text-primary;
}

h2 {
	margin: 0;
	padding: 20px 0;
	font-size: 1.5em;
	font-weight: 700;	
	text-transform: uppercase;
	color: $color-text-secondary;
}

a {
	color: $color-text-secondary;
}

small {
	text-transform: lowercase;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	text-align: center;
} 

@for $i from 1 through 12 {
	.col-#{$i} { width: $i* 100% / 12; }
}

@media (max-width: 1200px) {
    /* For desktop: */
    @for $i from 1 through 12 {
	  .col-m#{$i} { width: $i* 100% / 12; }
	}

    body{
    	font-size: 18px;
    }
}

@media (max-width: 767px) {
    /* For tablets: */
    @for $i from 1 through 12 {
	  .col-s#{$i} { width: $i* 100% / 12; }
	}

    body{
    	font-size: 20px;
    }
}
